<a href="https://colab.research.google.com/github/vitoria154/VitoriaCordeiro/blob/main/projeto_continua%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [179]:
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [180]:
df = pd.read_csv('/content/projeto_bova.csv')
df

        Unnamed: 0 data_pregao  ... qtd_negocios volume_negocios
0                0  2020-01-02  ...     585800.0    1.094620e+09
1                1  2020-01-02  ...      12700.0    1.533380e+08
2                2  2020-01-02  ...     870400.0    1.745788e+09
3                3  2020-01-02  ...   16011300.0    3.062348e+10
4                4  2020-01-02  ...     193400.0    4.719270e+07
...            ...         ...  ...          ...             ...
122221      294499  2020-12-28  ...         37.0    1.358640e+05
122222      294500  2020-12-29  ...        100.0    3.631000e+05
122223      294501  2020-12-30  ...         61.0    2.295170e+05
122224      294502  2020-12-23  ...         50.0    1.045900e+06
122225      294503  2020-12-28  ...          2.0    4.257300e+04

[122226 rows x 10 columns]

In [181]:
df_mglu = df[df['sigla_acao'] == 'MGLU3']
df_mglu

        Unnamed: 0 data_pregao  ... qtd_negocios volume_negocios
237            237  2020-01-02  ...    7400200.0    3.613960e+10
923           2462  2020-01-03  ...    6684400.0    3.278333e+10
924           2463  2020-01-06  ...    6839800.0    3.328205e+10
2421          6085  2020-01-07  ...    6704700.0    3.272028e+10
2422          6086  2020-01-08  ...   10001800.0    4.947567e+10
...            ...         ...  ...          ...             ...
120701      290926  2020-12-22  ...   25236200.0    6.351945e+10
120702      290927  2020-12-23  ...   20558600.0    5.195173e+10
120703      290928  2020-12-28  ...   23099100.0    5.749828e+10
120704      290929  2020-12-29  ...   17789700.0    4.501148e+10
120705      290936  2020-12-30  ...   19188700.0    4.843174e+10

[249 rows x 10 columns]

In [182]:
df_mglu.tail(10)

        Unnamed: 0 data_pregao  ... qtd_negocios volume_negocios
116260      281563  2020-12-15  ...   39496800.0    9.650491e+10
116261      281564  2020-12-16  ...   41309900.0    1.019622e+11
116262      281565  2020-12-17  ...   23427200.0    5.777676e+10
116263      281566  2020-12-18  ...   31019400.0    7.556938e+10
120700      290925  2020-12-21  ...   55352400.0    1.375377e+11
120701      290926  2020-12-22  ...   25236200.0    6.351945e+10
120702      290927  2020-12-23  ...   20558600.0    5.195173e+10
120703      290928  2020-12-28  ...   23099100.0    5.749828e+10
120704      290929  2020-12-29  ...   17789700.0    4.501148e+10
120705      290936  2020-12-30  ...   19188700.0    4.843174e+10

[10 rows x 10 columns]

In [183]:
df_mglu.drop('Unnamed: 0', axis=1, inplace=True)
df_mglu

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       data_pregao sigla_acao  ... qtd_negocios  volume_negocios
237     2020-01-02      MGLU3  ...    7400200.0     3.613960e+10
923     2020-01-03      MGLU3  ...    6684400.0     3.278333e+10
924     2020-01-06      MGLU3  ...    6839800.0     3.328205e+10
2421    2020-01-07      MGLU3  ...    6704700.0     3.272028e+10
2422    2020-01-08      MGLU3  ...   10001800.0     4.947567e+10
...            ...        ...  ...          ...              ...
120701  2020-12-22      MGLU3  ...   25236200.0     6.351945e+10
120702  2020-12-23      MGLU3  ...   20558600.0     5.195173e+10
120703  2020-12-28      MGLU3  ...   23099100.0     5.749828e+10
120704  2020-12-29      MGLU3  ...   17789700.0     4.501148e+10
120705  2020-12-30      MGLU3  ...   19188700.0     4.843174e+10

[249 rows x 9 columns]

In [184]:
df_mglu.dtypes

data_pregao          object
sigla_acao           object
nome_acao            object
preco_abertura      float64
preco_maximo        float64
preco_minimo        float64
preco_fechamento    float64
qtd_negocios        float64
volume_negocios     float64
dtype: object

In [185]:
df_mglu['data_pregao'] = pd.to_datetime(df_mglu['data_pregao'], format='%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [186]:
df_mglu.dtypes

data_pregao         datetime64[ns]
sigla_acao                  object
nome_acao                   object
preco_abertura             float64
preco_maximo               float64
preco_minimo               float64
preco_fechamento           float64
qtd_negocios               float64
volume_negocios            float64
dtype: object

In [187]:
df_mglu['mm5d'] = df_mglu['preco_fechamento'].rolling(5).mean()
df_mglu['mm21d'] = df_mglu['preco_fechamento'].rolling(21).mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [188]:
df_mglu.head(15)

     data_pregao sigla_acao    nome_acao  ...  volume_negocios    mm5d  mm21d
237   2020-01-02      MGLU3  MAGAZ LUIZA  ...     3.613960e+10     NaN    NaN
923   2020-01-03      MGLU3  MAGAZ LUIZA  ...     3.278333e+10     NaN    NaN
924   2020-01-06      MGLU3  MAGAZ LUIZA  ...     3.328205e+10     NaN    NaN
2421  2020-01-07      MGLU3  MAGAZ LUIZA  ...     3.272028e+10     NaN    NaN
2422  2020-01-08      MGLU3  MAGAZ LUIZA  ...     4.947567e+10  49.246    NaN
2423  2020-01-09      MGLU3  MAGAZ LUIZA  ...     5.707606e+10  49.796    NaN
2424  2020-01-10      MGLU3  MAGAZ LUIZA  ...     4.907013e+10  50.378    NaN
5135  2020-01-13      MGLU3  MAGAZ LUIZA  ...     4.566628e+10  51.438    NaN
5136  2020-01-14      MGLU3  MAGAZ LUIZA  ...     4.492525e+10  52.480    NaN
5137  2020-01-15      MGLU3  MAGAZ LUIZA  ...     4.970725e+10  53.154    NaN
5138  2020-01-16      MGLU3  MAGAZ LUIZA  ...     4.502640e+10  53.430    NaN
5139  2020-01-17      MGLU3  MAGAZ LUIZA  ...     3.251331e+10  53.940    NaN
5140  2020-01-20      MGLU3  MAGAZ LUIZA  ...     4.105074e+10  54.294    NaN
5141  2020-01-21      MGLU3  MAGAZ LUIZA  ...     4.533126e+10  54.676    NaN
5142  2020-01-22      MGLU3  MAGAZ LUIZA  ...     5.046422e+10  55.082    NaN

[15 rows x 11 columns]

In [189]:
df_mglu['preco_fechamento'] = df_mglu['preco_fechamento'].shift(-1)

df_mglu.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     data_pregao sigla_acao    nome_acao  ...  volume_negocios    mm5d  mm21d
237   2020-01-02      MGLU3  MAGAZ LUIZA  ...     3.613960e+10     NaN    NaN
923   2020-01-03      MGLU3  MAGAZ LUIZA  ...     3.278333e+10     NaN    NaN
924   2020-01-06      MGLU3  MAGAZ LUIZA  ...     3.328205e+10     NaN    NaN
2421  2020-01-07      MGLU3  MAGAZ LUIZA  ...     3.272028e+10     NaN    NaN
2422  2020-01-08      MGLU3  MAGAZ LUIZA  ...     4.947567e+10  49.246    NaN

[5 rows x 11 columns]

In [190]:

df_mglu.dropna(inplace=True)
df_mglu

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       data_pregao sigla_acao    nome_acao  ...  volume_negocios    mm5d      mm21d
8648    2020-01-30      MGLU3  MAGAZ LUIZA  ...     6.188684e+10  56.146  53.558095
8649    2020-01-31      MGLU3  MAGAZ LUIZA  ...     5.422029e+10  56.076  53.866190
8650    2020-02-03      MGLU3  MAGAZ LUIZA  ...     3.470459e+10  56.622  54.230000
8651    2020-02-04      MGLU3  MAGAZ LUIZA  ...     4.760913e+10  56.756  54.645714
8652    2020-02-05      MGLU3  MAGAZ LUIZA  ...     4.984314e+10  56.758  55.050952
...            ...        ...          ...  ...              ...     ...        ...
120700  2020-12-21      MGLU3  MAGAZ LUIZA  ...     1.375377e+11  24.726  23.934762
120701  2020-12-22      MGLU3  MAGAZ LUIZA  ...     6.351945e+10  24.836  24.017619
120702  2020-12-23      MGLU3  MAGAZ LUIZA  ...     5.195173e+10  24.838  24.078095
120703  2020-12-28      MGLU3  MAGAZ LUIZA  ...     5.749828e+10  24.980  24.137619
120704  2020-12-29      MGLU3  MAGAZ LUIZA  ...     4.501148e+10  25.132  24.186667

[228 rows x 11 columns]

In [191]:
df_mglu = df_mglu.reset_index(drop=True)
df_mglu

    data_pregao sigla_acao    nome_acao  ...  volume_negocios    mm5d      mm21d
0    2020-01-30      MGLU3  MAGAZ LUIZA  ...     6.188684e+10  56.146  53.558095
1    2020-01-31      MGLU3  MAGAZ LUIZA  ...     5.422029e+10  56.076  53.866190
2    2020-02-03      MGLU3  MAGAZ LUIZA  ...     3.470459e+10  56.622  54.230000
3    2020-02-04      MGLU3  MAGAZ LUIZA  ...     4.760913e+10  56.756  54.645714
4    2020-02-05      MGLU3  MAGAZ LUIZA  ...     4.984314e+10  56.758  55.050952
..          ...        ...          ...  ...              ...     ...        ...
223  2020-12-21      MGLU3  MAGAZ LUIZA  ...     1.375377e+11  24.726  23.934762
224  2020-12-22      MGLU3  MAGAZ LUIZA  ...     6.351945e+10  24.836  24.017619
225  2020-12-23      MGLU3  MAGAZ LUIZA  ...     5.195173e+10  24.838  24.078095
226  2020-12-28      MGLU3  MAGAZ LUIZA  ...     5.749828e+10  24.980  24.137619
227  2020-12-29      MGLU3  MAGAZ LUIZA  ...     4.501148e+10  25.132  24.186667

[228 rows x 11 columns]

In [192]:
qtd_linhas = len(df_mglu)

qtd_linhas_treino= round(.70 * qtd_linhas)
qtd_linhas_teste= qtd_linhas - qtd_linhas_treino  
qtd_linhas_validacao = qtd_linhas -1

ip = (
    f"linhas treino= 0:{qtd_linhas_treino}"
    f" linhas teste= {qtd_linhas_treino}:{qtd_linhas_treino + qtd_linhas_teste -1}"
    f" linhas validação= {qtd_linhas_validacao}"
)

ip

'linhas treino= 0:160 linhas teste= 160:227 linhas validação= 227'

In [193]:
features = df_mglu.drop(['sigla_acao', 'nome_acao', 'data_pregao', 'preco_fechamento'], 1)
labels = df_mglu['preco_fechamento']

In [194]:
features_list = ('preco_abertura','preco_max','preco_minimo','qtd_negocios','volume_negocios','mm5d','mm21d')

k_best_features = SelectKBest(k='all')
k_best_features.fit_transform(features, labels)
k_best_features_scores = k_best_features.scores_
raw_pairs = zip(features_list[1:], k_best_features_scores)
ordered_pairs = list(reversed(sorted(raw_pairs, key=lambda x: x[1])))

k_best_features_final = dict(ordered_pairs[:15])
best_features = k_best_features_final.keys()
print ('')
print ("Melhores:")
print (k_best_features_final)

Melhores:
{'preco_minimo': 318.43235325293784, 'preco_max': 206.15107653374648, 'qtd_negocios': 199.62542025235277, 'mm21d': 194.0466170671806, 'mm5d': 8.252130997634119, 'volume_negocios': 8.204179263940825}

In [195]:
features = df_mglu.drop(['sigla_acao', 'nome_acao', 'data_pregao', 'preco_fechamento', 'preco_abertura', 'mm21d'], 1)
features

     preco_maximo  preco_minimo  qtd_negocios  volume_negocios    mm5d
0           56.70         55.02    11075900.0     6.188684e+10  56.146
1           57.15         55.20     9695300.0     5.422029e+10  56.076
2           56.95         55.66     6141500.0     3.470459e+10  56.622
3           58.67         57.13     8218200.0     4.760913e+10  56.756
4           58.84         57.03     8621100.0     4.984314e+10  56.758
..            ...           ...           ...              ...     ...
223         25.38         23.61    55352400.0     1.375377e+11  24.726
224         25.42         24.85    25236200.0     6.351945e+10  24.836
225         25.63         24.97    20558600.0     5.195173e+10  24.838
226         25.33         24.40    23099100.0     5.749828e+10  24.980
227         25.56         25.02    17789700.0     4.501148e+10  25.132

[228 rows x 5 columns]

In [196]:
X_train = features[:qtd_linhas_treino]
X_test = features[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

y_train = labels[:qtd_linhas_treino]
y_test = labels[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

print( len(X_train), len(y_train))

print( len(X_test), len(y_test))

160 160
67 67

In [197]:
scaler = MinMaxScaler()
X_train_scale = scaler.fit_transform(X_train)  # Normalizando os dados de entrada(treinamento)
X_test_scale  = scaler.transform(X_test)       # Normalizando os dados de entrada(teste)

In [198]:
lr = linear_model.LinearRegression()
lr.fit(X_train_scale, y_train)
pred= lr.predict(X_test_scale)
cd =r2_score(y_test, pred)

f'Coeficiente de determinação:{cd * 100:.2f}'

'Coeficiente de determinação:87.77'

In [199]:
rn = MLPRegressor(max_iter=2000)

rn.fit(X_train_scale, y_train)
pred= rn.predict(X_test_scale)

cd = rn.score(X_test_scale, y_test)


f'Coeficiente de determinação:{cd * 100:.2f}'

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

'Coeficiente de determinação:84.74'

In [200]:

rn = MLPRegressor()

parameter_space = {
        'hidden_layer_sizes': [(i,) for i in list(range(1, 21))],
        'activation': ['tanh', 'relu'],
        'solver': ['sgd', 'adam', 'lbfgs'], 
        'alpha': [0.0001, 0.05],
        'learning_rate': ['constant', 'adaptive'],
    }

search = GridSearchCV(rn, parameter_space, n_jobs=-1, cv=5)


search.fit(X_train_scale,y_train)
clf = search.best_estimator_
pred= search.predict(X_test_scale)

cd = search.score(X_test_scale, y_test)

f'Coeficiente de determinação:{cd * 100:.2f}'

'Coeficiente de determinação:87.38'

In [203]:
valor_novo = features.tail(1)
valor_novo

     preco_maximo  preco_minimo  qtd_negocios  volume_negocios    mm5d
227         25.56         25.02    17789700.0     4.501148e+10  25.132

In [205]:
#previsão
previsao=scaler.transform(valor_novo)


pred=lr.predict(previsao)

pred

array([26.20598177])

In [207]:
df = df[df['sigla_acao'] == 'MGLU3' ]

In [208]:

data_pregao_full=df['data_pregao']
data_pregao=data_pregao_full.tail(1)

res_full=df['preco_fechamento']
res=res_full.tail(1)

df=pd.DataFrame({'data_pregao':data_pregao, 'real':res, 'previsao':pred})


df.set_index('data_pregao', inplace=True)

print(df)

              real   previsao
data_pregao
2020-12-30   24.95  26.205982