<a href="https://colab.research.google.com/github/vitoria154/VitoriaCordeiro/blob/main/projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:


  colspecs = [(2,10),
              (10,12),
              (12,24),
              (27,39),
              (56,69),
              (69,82),
              (82,95),
              (108,121),
              (152,170),
              (170,188)

  ]



  names = ['data_pregao', 'codbi', 'sigla_acao', 'nome_acao', 'preco_abertura', 'preco_maximo', 'preco_minimo', 'preco_fechamento', 'qtd_negocios', 'volume_negocios']

  data = pd.read_fwf(_file, colspecs = colspecs, names = names, skiprows =1)
  
  return data

        data_pregao  codbi  ... qtd_negocios volume_negocios
0          20200102    2.0  ...     585800.0    1.094620e+09
1          20200102    2.0  ...      12700.0    1.533380e+08
2          20200102    2.0  ...     870400.0    1.745788e+09
3          20200102    2.0  ...   16011300.0    3.062348e+10
4          20200102    2.0  ...     193400.0    4.719270e+07
...             ...    ...  ...          ...             ...
1251642    20201230   82.0  ...        600.0    1.466000e+05
1251643    20201230   82.0  ...       6400.0    1.173300e+06
1251644    20201230   82.0  ...       7500.0    2.175000e+06
1251645    20201230   82.0  ...       1500.0    4.125000e+05
1251646    COTAHIST    0.2  ...          NaN             NaN

[1251647 rows x 10 columns]

In [3]:

data = data [data['codbi']==2]
data = data.drop(['codbi'], 1)
data

       data_pregao sigla_acao  ... qtd_negocios  volume_negocios
0         20200102      AALR3  ...     585800.0     1.094620e+09
1         20200102     AAPL34  ...      12700.0     1.533380e+08
2         20200102      ABCB4  ...     870400.0     1.745788e+09
3         20200102      ABEV3  ...   16011300.0     3.062348e+10
4         20200102      ADHM3  ...     193400.0     4.719270e+07
...            ...        ...  ...          ...              ...
294499    20201228     Z1TO34  ...         37.0     1.358640e+05
294500    20201229     Z1TO34  ...        100.0     3.631000e+05
294501    20201230     Z1TO34  ...         61.0     2.295170e+05
294502    20201223     Z1TS34  ...         50.0     1.045900e+06
294503    20201228     Z1TS34  ...          2.0     4.257300e+04

[122226 rows x 9 columns]

In [4]:
data['data_pregao'] = pd.to_datetime(data['data_pregao'], format= '%Y%m%d')
data

       data_pregao sigla_acao  ... qtd_negocios  volume_negocios
0       2020-01-02      AALR3  ...     585800.0     1.094620e+09
1       2020-01-02     AAPL34  ...      12700.0     1.533380e+08
2       2020-01-02      ABCB4  ...     870400.0     1.745788e+09
3       2020-01-02      ABEV3  ...   16011300.0     3.062348e+10
4       2020-01-02      ADHM3  ...     193400.0     4.719270e+07
...            ...        ...  ...          ...              ...
294499  2020-12-28     Z1TO34  ...         37.0     1.358640e+05
294500  2020-12-29     Z1TO34  ...        100.0     3.631000e+05
294501  2020-12-30     Z1TO34  ...         61.0     2.295170e+05
294502  2020-12-23     Z1TS34  ...         50.0     1.045900e+06
294503  2020-12-28     Z1TS34  ...          2.0     4.257300e+04

[122226 rows x 9 columns]

In [5]:
data['preco_abertura'] = (data['preco_abertura'] / 100).astype(float)
data['preco_maximo'] = (data['preco_maximo'] / 100).astype(float)
data['preco_minimo'] = (data['preco_minimo'] / 100).astype(float)
data['preco_fechamento'] = (data['preco_fechamento'] / 100).astype(float)
data

       data_pregao sigla_acao  ... qtd_negocios  volume_negocios
0       2020-01-02      AALR3  ...     585800.0     1.094620e+09
1       2020-01-02     AAPL34  ...      12700.0     1.533380e+08
2       2020-01-02      ABCB4  ...     870400.0     1.745788e+09
3       2020-01-02      ABEV3  ...   16011300.0     3.062348e+10
4       2020-01-02      ADHM3  ...     193400.0     4.719270e+07
...            ...        ...  ...          ...              ...
294499  2020-12-28     Z1TO34  ...         37.0     1.358640e+05
294500  2020-12-29     Z1TO34  ...        100.0     3.631000e+05
294501  2020-12-30     Z1TO34  ...         61.0     2.295170e+05
294502  2020-12-23     Z1TS34  ...         50.0     1.045900e+06
294503  2020-12-28     Z1TS34  ...          2.0     4.257300e+04

[122226 rows x 9 columns]

In [6]:
data.dtypes

data_pregao         datetime64[ns]
sigla_acao                  object
nome_acao                   object
preco_abertura             float64
preco_maximo               float64
preco_minimo               float64
preco_fechamento           float64
qtd_negocios               float64
volume_negocios            float64
dtype: object

In [7]:
data.to_csv('projeto_bova.csv')